* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  overflow-y: hidden;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.ladoDeVisualizacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
}

.ladoDeCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  padding-right: 3%;
  justify-content: first baseline;
  height: 100%;
  width: 40%;
  border-right: 1px solid rgb(173, 167, 167);
}

.parteSuperiorComInputs {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 3%;
  padding-top: 3%;
  width: 50%;
  border-radius: 2%;
  border: 1px solid rgb(148, 146, 146);
  background-color: rgb(248, 248, 236);
}

.parteSuperiorComInputs input {
  height: 2rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2rem;
}

.InputsDoTipoPreencher {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 5%;
}

.parteInferiorComBotao .botaoFormulario {
  border: 1px solid rgb(148, 146, 146);
  width: 100%;
  height: 60px;
  font-size: 1.2rem;
  background-color: red;
}

.botaoFormulario {
  height: 4rem;
  margin-top: 5%;
  border-radius: 5px;
  border: 2.5px solid rgb(148, 146, 146);
  color: white;
  font-weight: bold;
  width: 100%;
}

.parteDoBotaoCadastrar .botaoFormulario {
  background-color: rgb(82, 189, 135);
  height: 60px;
  font-size: 1.2rem;
}

.mostraValoresLatitudeELongitude {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 5%;
  justify-content: space-around;
}

.mostraValoresLatitudeELongitude input {
  width: 100%;
  background-color: rgba(54, 52, 52, 0.158);
}

.parteInferiorComBotao {
  display: flex;
  border: 1px solid rgb(148, 146, 146);
  align-items: center;
  margin-top: 3%;
  border-radius: 2%;
  padding: 3%;
  justify-content: center;
  width: 50%;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#visualizacaoDaTabela {
  background-color: gray;
  color: white;
  width: 100%;
}
#visualizacaoDaTabela .tdPrincipal {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border: 1px solid white;
}
.teste {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buscarEndereco {
  display: flex;
  flex-direction: row;
  height: 100%;
  height: 2rem;
  border: 1px solid rgb(148, 146, 146);
}

.buscarEndereco input {
  width: 100%;
  height: 100%;
  border: none;
}

#buscar {
  width: 40%;
  background-color: rgb(240, 243, 243);
}
