<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./styles/style.css" />
    <title>Challlenge</title>
    <header></header>

    <main>
      <div class="ladoDeCadastro">
        <div class="parteSuperiorComInputs">
          <form>
            <div class="InputsDoTipoPreencher">
              <input type="text" placeholder="Nome Cliente" />
              <input type="number" placeholder="Peso da Entrega" />
              <input type="text" placeholder="Endereço Cliente" />
            </div>

            <div class="mostraValoresLatidudeELongitude">
              <input type="text" placeholder="Latitude" />
              <input type="text" placeholder="Longitude" />
            </div>

            <div class="parteDoBotaoCadastrar">
              <button class="botaoFormulario">CADASTRAR CLIENTE</button>
            </div>
          </form>
        </div>

        <div class="parteInferiorComBotao">
          <button class="botaoFormulario">RESETAR CADASTRO</button>
        </div>
      </div>

      <div class="ladoDeVisualizacoes"></div>
    </main>

    <footer></footer>
  </head>
  <body></body>
</html>
